<!--Passing and using data with ONE way event binding-->
<label>One way data binding</label>
<input type="text" class="form-control" 
(input)="onUpdateServerName($event)">
<!--<p [innerText]="allowNewServer"></p>-->
<!--END-->

<!--Passing and using data with TWO way event binding-->
<label>Two way data binding</label>
<input type="text" class="form-control" 
[(ngModel)]="serverName">
<!--<p [innerText]="allowNewServer"></p>-->
<!--END-->

<!--Event Binding-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!--String interpolation-->
<!--<p>{{allowNewServer}}</p>-->
<!--Property Binding-->
<!--<p [innerText]="allowNewServer"></p>-->

<p>{{serverCreationStatus}}</p>

<app-server></app-server>
<app-server></app-server>

<hr>
<!--Passing and using data with TWO way event binding-->
<label>Reset Username Tool</label>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{username}}</p>
<button class="btn btn-primary"
[disabled]="username === ''" 
(click)="username = ''">Reset Username</button>
